<!DOCTYPE html>
<link rel="stylesheet" href="/style.css">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>67P/Churyumov-Gerasimenko</title>
    <meta name="description" content="">
    <meta name="author" content="Jan-Patrick Rönnau & Florian Bruns & Vladimir Klippert">
    <meta name="keywords" content="">
    <link href="css/style.css"  rel="stylesheet">

<body>
<div>
    <div class="header">
        <h1>67P/Churyumov-Gerasimenko</h1>
        <h2>Morphologie und Aktivität des Kometen</h2>
    </div>
    <ul id="main_nav">
        <li class="main_nav_link active"><a href="/">Startseite</a></li>
        <li class="main_nav_link"><a href="/info">Informationen</a></li>
        <li class="main_nav_link"><a href="/add">Neues</a></li>
        <li class="main_nav_link_float"><a href="/login">Login</a></li>
        <li class="main_nav_link_float"><a href="/contact">Kontakt</a></li>
    </ul>
</div>

<div class="info_headline"><h2>Informationen</h2></div>
<div class="main_content">
    <div class="col content_box_wide">
        <div class="content_img_txt">
            <div class="txt_justify">
                <p>
                    Tschurjumow-Gerassimenko/67P/Churyumov-Gerasimenko von Forschern und seit Mitte 2014 auch
                    von den Medien oft Tschuri(Chury) genannt, ist ein kurzperiodischer Komet.
                    Es ist der erste Komet, den eine Raumsonde begleitet hat (2014–2016,Rosetta)der erste, auf dem ein
                    Lander niederging (am 12. November 2014,Philae).
                </p>
                <p>
                    Der Komet 67P/Churyumov-Gerasimenko ist ein Objekt aus dem Kuiper-Edgeworth-Gürtel, einer
                    ringförmigen Region in unserem Sonnensystem außerhalb des Neptunorbits. Er bewegt sich auf einer
                    elliptischen Bahn zwischen Jupiter und Erde um die Sonne und gehört damit zur Jupiter-Familie.
                </p>
                <p>
                    Seine Umlaufbahn hat sich in den letzten 200 Jahren durch die Schwerkraft des Jupiter stark
                    verändert. Bis 1840 lag sein Perihel (der sonnennächste Punkt seiner Umlaufbahn) bei 4 AE
                    (Astronomische Einheit), das entspricht dem Vierfachen der Erde-Sonne-Distanz von knapp 150
                    Millionen Kilometern. Ein naher Vorbeiflug am Jupiter folgte, der sein Perihel verringerte. Bis 1959 lag
                    sein Perihel dann bei 2,7 AE, ein weiterer Jupiter-Vorbeiflug im Februar 1959 reduzierte es auf den
                    heutigen Wert: sein minimaler Sonnenabstand (Perihel) liegt bei 186 Millionen Kilometer (1,24 AE),
                    sein maximaler Sonnenabstand (Aphel) bei 852 Millionen Kilometer (5,68 AE). Während des
                    Periheldurchgangs 2002 sprühte Churyumov-Gerasimenko schätzungsweise 60 Kilogramm Staub pro
                    Sekunde ins All, vom Jahreswechsel 1982/83 sind sogar Werte bis zu 220 Kilogramm in der Sekunde
                    berechnet worden. Während des Periheldurchgangs am 13. August 2015 wurden durch
                    verdampfendes Eis bis zu 300 Kilogramm Kometenstaub pro Sekunde mitgerissen.
                </p>
                <p>
                    Für eine vollständige Drehung um seine Rotationsachse benötigt 67P ziemlich genau 12,4053
                    Stunden (1 Kometentag).
                </p>
                <p>
                    Der 'Körper' des Kometen verfügt laut Analysen über die ungefähren Abmessungen von 4,1 x 3,6 x
                    1,7 Kilometern. Hieraus berechneten die Wissenschaftler ein Volumen von etwa 13 Kubikkilometern.
                    Der deutlich kleinere 'Kopf' misst in etwa 2,6 x 2,4 x 1,6 Kilometer, woraus sich ein Volumen von rund
                    5,7 Kubikkilometern ergibt. Zusätzlich zu diesen beiden Werten muss noch das Volumen des 'Halses'
                    berücksichtigt werden, welches mit einem Wert von rund zwei Kubikkilometern veranschlagt wurde.
                    Das Volumen des gesamten Kometenkerns, so das zur Zeit allerdings nur vorläufige Ergebnis dieser
                    Studie, liegt demzufolge bei rund 21 Kubikkilometern mit einem Unsicherheitsfaktor von plus/minus
                    drei Kubikkilometern.
                    Außerdem konnten auch erste Aussagen über die Masse des Kometen getätigt werden, welche
                    jedoch ebenfalls noch überprüft und mit aktuelleren Beobachtungen und Messdaten ergänzt werden
                    müssen. Die Gesamtmasse von 67P liegt demzufolge bei einem Wert von 10,2 Milliarden Tonnen,
                    wobei der Unsicherheitsfaktor derzeit noch bei plus/minus 0,7 Milliarden Tonnen liegt.
                </p>
                <p>
                    Anhand der Angaben über Masse und Volumen konnte auch die mittlere Dichte des Kometen auf
                    einen Wert von 0,43 Gramm pro Kubikzentimeter berechnet werden. Dieser Wert deutet darauf hin,
                    dass der Kern des Kometen in seiner Gesamtheit sehr porös sein muss. Derzeit werden dabei
                    verschiedene Modelle bezüglich des inneren Aufbaus des Kometen sowie der Mengenanteile und der
                    Verteilung von Wassereis, Gestein und Staub diskutiert.
                </p>


            </div>
        </div>
    </div>
    <div class="col content_box_wide">
        <div class="content_img_txt">
            <div class="txt_justify">

                <p>
                    Rosetta ist eine Weltraummission der ESA. Die gleichnamige Sonde startete am 2.März 2004,
                    erreichte den Orbit des Kometen im August 2014und verblieb in diesem mehr als zwei Jahre. Sie
                    setzte im November 2014 den Lander Philae aus. Am 30. September 2016 wurde Rosetta selbst
                    gezielt auf dem Kometen zum Absturz gebracht, bevor die Energie der Sonde aufgrund des sich nun
                    wieder weiter von der Sonne entfernenden Kometen zur Neige ging. Auf dem Weg zum Kometen
                    hatte Rosetta nach mehreren Swing-by-Manövern an Erde und Mars die Asteroiden(2867) Steins und
                    (21) Lutetia passiert und verbrachte anschließend auf dem sonnenfernsten Teil ihrer Bahn 957 Tage
                    im „Winterschlaf“ (Deep Space Hibernation), aus dem sie am 20. Januar 2014 planmäßig „geweckt“
                    wurde. Ein wichtiges Ziel der Mission war die Erforschung der Frage, ob Kometen eine bedeutende
                    Rolle für die Entstehung des Lebens auf der Erde gespielt haben könnten, insbesondere ob sie
                    präbiotische Moleküle und Wasser zur Erde gebracht haben.
                </p>
                <p>
                    Philae ist die erste Raumsonde, die auf einem Kometen landete. Der Lander des Deutschen Zentrums
                    für Luft und Raumfahrt war mit der Raumsonde Rosetta seit dem 2. März 2004 zum Kometen
                    67P/Churyumov-Gerasimenko unterwegs und landete auf ihm am 12. November 2014.
                    67P/Tschurjumow-Gerassimenko ist der erste Komet und der siebte Himmelskörper insgesamt, der
                    von einer gelandeten Raumsonde erforscht wurde.
                </p>
                <p>
                    Landung von Philae: Die Abtrennung des Landers erfolgte am 12.November 2014 um 08:35 Uhr UTC
                    in einer Entfernung von 22,5km. zum Kometenkern. Nach etwa sieben Stunden im freien Fall und
                    einer Sinkgeschwindigkeit von etwa 1m/s setzte die Sonde erstmals auf dem Kometen auf. Die
                    Landung wurde vomHauptkontrollzentrum der ESA in Darmstadtund dem Lander-Kontrollzentrum des
                    Deutschen Zentrums für Luft- und Raumfahrt in Köln verfolgt. Um 17:03Uhr MEZ wurde eine erste
                    Bestätigung der Landung empfangen, wobei das Signal etwa 28 Minuten benötigte, um die Entfernung
                    von rund 500 Millionen Kilometern zur Erde zurückzulegen.
                </p>
                <p>
                    Kurz nach der Landung gab es jedoch Anzeichen dafür, dass diese nicht völlig reibungslos verlaufen
                    ist: wahrscheinlich konnte der Lander nicht korrekt auf der Kometenoberfläche verankert werden.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="main_content">
    <div class="col content_box">
        <img src="{{img[1]}}">
        <div class="content_img_txt_info">
            <h3>{{headline[1]}}</h3>
            <p>{{text[1]}}</p>
            <p><a href="/entry/{{id[1]}}">[mehr lesen...]</a></p>
        </div>
    </div>
    <div class="col content_box">
        <img src="{{img[2]}}">
        <div class="content_img_txt_info">
            <h3>{{headline[2]}}</h3>
            <p>{{text[2]}}</p>
            <p><a href="/entry/{{id[2]}}#new">[mehr lesen...]</a></p>
        </div>
    </div>
    <div class="col content_box">
        <img src="{{img[3]}}">
        <div class="content_img_txt_info">
            <h3>{{headline[3]}}</h3>
            <p>{{text[3]}}</p>
            <p><a href="/entry/{{id[3]}}">[mehr lesen...]</a></p>
        </div>
    </div>
    <div class="col content_box">
        <img src="{{img[4]}}">
        <div class="content_img_txt_info">
            <h3>{{headline[4]}}</h3>
            <p>{{text[4]}}</p>
            <p><a href="/entry/{{id[4]}}">[mehr lesen...]</a></p>
        </div>
    </div>
</div>

<footer>
    <div class="impressum">| <a href="/Zeitstrahl.pdf">ZEITLEISTE</a> | <a href="/impressum">IMPRESSUM</a> | <a href="/Dokumentation.pdf">DOKUMENTATION</a></div>
</footer>
</body>
</html>