@font-face { font-family: 'asap'; src: url('../Schrift/Asap-Regular.ttf') }
@font-face { font-family: 'audiowide'; src: url('../Schrift/Audiowide-Regular.ttf') }
/*  MISC  */

h1,h3{
	font-family: audiowide, cursiv;
}
h2, p, li,a,div{
	font-family: asap, sens-serif;
}
body{
	margin: 0 10% 0 10%;
	color:#fff;
	background: url("../img/pattern.png");repeat-x;repeat-y;
}

img{
	width:100%;
}

a{
	color:#fff;
	text-decoration:none;
}

a:hover{
	color:#f27329;
	text-decoration:none;
}

.txt_justify{
	text-align:justify;
}

/*  FORM  */

textarea{
	width:300px;
}

input{
	width:300px;
}

/*  NAVIGATION  */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #26477c;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #8b90ba;
}

.active {
    background-color: #697bab;
}

.main_nav_link_float{
	float:right;
}

/*  CONTENT  */

.main_content {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.content_img_txt { 
   position: relative; 
}

.content_img_txt p { 
   margin: 0px 6px 16px 6px; 
}

.content_img_txt h2 { 
	margin:16px 6px 6px 6px;
}

.content_img_txt h3 { 
   margin: 0px 16px 16px 0px;; 
}

.content_img_txt_overlay{
	position:absolute;
	bottom:7%;
	background:rgba(228, 229, 252, 0.8);
	color:#26477c;
}

.content_img_txt_info{
	background:rgba(228, 229, 252, 0.8);
	color:#26477c;
}

.content_img_txt_info h3{
	padding: 10px 10px 0px 10px;
}

.content_img_txt_info p{
	padding: 0px 10px 10px 10px;
}


.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child {
	margin-left: 0;
}

.info_headline h2{
	font-size:2.3em;
}

.under_headline {
	font-size: 1.5em;
}
.zeitbild {
    display: table-cell;
    vertical-align: middle 
}

.content_box_big { width: 49.2%; }
.content_box { width: 23.8%; }
.content_box_wide { width: 49.2%; }


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 768px) {
	.col {  margin: 1% 0 1% 0%; }
	.content_box { width: 100%; }
	.content_box_big { width: 100%; }
	.content_box_wide { width: 100%; }
	#main_content_info {display:none; }
}

/*  FOOTER  */

footer{
	width:100%;
	height: 50px;
	clear: both;
	background:#26477c;
	padding:16px -16px 16px 16px;
}

.impressum{
	text-align:right;
	margin: 16px 16px 16px 0;
	padding:16px;
	font-size:14px;
}
